.contact {
  position: relative;
  padding: 120px 0;
  padding-top: 150px;
  width: 100%;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  z-index: 2;
  background: linear-gradient(to top, #ff512f, #dd2476);
}

.contact button {
  transform: translate(-50%);
  border-radius: unset;
}
