.content {
  position: relative;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  min-height: 35vh;
  flex-flow: column;
}

.head {
  padding: 150px 0px 60px;
}

.say {
  background: wheat;
}

.content h3 {
  font-size: 1.4em;
  color: #3f51b5;
}

.content p,
.content h3 {
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
}

.content:last-child {
  padding-bottom: 100px;
}

.quote img {
  display: inline-block;
  height: 50px;
  filter: contrast(0.2);
  padding-top: 25px;
}

.statement {
  padding-bottom: 100px;
}

@media (min-width: 750px) {
  .content p,
  .content h3 {
    max-width: 55%;
  }
}
