.feedback {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 70px 0;
  /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%); */
  top: 80px; 
  color: #3c2467;
  background: #fffafa;
}

.commentor {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  border-radius: 100%;
}

.name {
  display: block;
  padding-top: 5px;
}

.commentor:hover,
.commentor:active,
.commentor:focus {
  transform: scale(1.1);
}
