.feedback {
  position: relative;
  background: coral;
  width: 100%;
  text-align: center;
  padding: 70px 0;
  margin-top: 50px;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  top: 80px;
  z-index: 3;
}

.commentor {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 100%;
}

.commentor:hover,
.commentor:active,
.commentor:focus {
  transform: scale(1.1);
}
