.services {
  column-count: 1;
  column-gap: 20px; 
  margin: 0 auto; 
  max-width: 2000px;
  width: 95%;
  background: #0b0e13ab;
}

.service {
  position: relative;
  background: rgb(218, 218, 218);
  margin: 8px;
  display: inline-block;
  width: 90%;
  padding: 25px 15px;
}
 

@media (min-width: 750px) {
  .services {
    column-count: 2;
    width: 75%;
  } 
}
