.services {
  column-count: 1;
  column-gap: 20px; 
  margin: 0 auto; 
  max-width: 2000px;
  width: 90%;
  background: #6494edab;
}

.service {
  position: relative;
  background: rgb(5, 128, 107);
  margin: 8px;
  display: inline-block;
  width: 90%;
  padding: 25px 15px;
}
 

@media (min-width: 750px) {
  .services {
    column-count: 2;
    width: 75%;
  } 
}
