.nav {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
  background: #171717fa;
  backdrop-filter: blur(1px);
  transition: backdrop-filter 0s ease;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 85%;
  transform: translate(-50%, -50%);
}
