.nav {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
  background: #171717fa;
  backdrop-filter: blur(1px);
  transition: backdrop-filter 0s ease;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 75%;
  transform: translate(-50%, -50%);
}

.logo:hover,
.logo:focus,
.logo:active {
  filter: grayscale(0.8);
}

.menu {
  position: absolute;
  right: 20px;
  left: unset !important;
}
